<div class="spacer">
    <h2>{{title}}</h2>
</div>
<form class="form-horizontal">
    <input type="hidden" class="form-control" id="inputBookId" value="{{book.id}}">
<div class="form-group">
    <label for="inputBookTitle" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="inputBookTitle" placeholder="Title" value="{{book.title}}" required>
    </div>
</div>
<div class="form-group">
    <label for="inputBookAuthor" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="inputBookAuthor" placeholder="Author" value="{{book.author}}" required>
    </div>
</div>
<div class="form-group">
    <label for="inputBookDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
    <textarea class="form-control" rows="3" id="inputBookDescription" placeholder="Description">{{book.description}}</textarea>
    </div>
</div>
<div class="form-group">
    <label for="singleType" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
    <select name="singleType" id="singleType" class="form-control">
        <option value="">-- choose type --</option>
        {{#each bookTypes}}
        <option value="{{id}}" {{selected id ../book.bookTypeId}}>{{type}}</option>
        {{/each}}
    </select>
    </div>
</div>
<div class="form-group">
    <label for="singleForm" class="col-sm-2 control-label">Form</label>
    <div class="col-sm-10">
    <select name="singleForm" id="singleForm" class="form-control">
        <option value="">-- choose form --</option>
        {{#each bookForms}}
        <option value="{{id}}" {{selected id ../book.bookFormId}}>{{type}}</option>
        {{/each}}
    </select>
    </div>
</div>
<div class="form-group">
    <label for="singleGenre" class="col-sm-2 control-label">Genre</label>
    <div class="col-sm-10">
    <select name="singleGenre" id="singleGenre" class="form-control">
        <option value="">-- choose genre --</option>
        {{#each bookGenres}}
        <option value="{{id}}" {{selected id ../book.bookGenreId}}>{{type}}</option>
        {{/each}}
    </select>
    </div>
</div>
<div id="display-borrowed-checkbox" class="form-group" {{#unless displayBorrowedCheckbox}}style="display: none"{{/unless}}>
    <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
        <label>
        <input type="checkbox" id="borrowedCheckbox" {{#if book.borrowed}}checked{{/if}}> Is borrowed?
        <!-- Handlebars if helper:
        http://stackoverflow.com/questions/16797095/handlebars-conditional-checked-property-from-jade-template
        book.borrowed - wskazuje na odpowiedni klucz obiektu book, kt wartość jest sprawdzana -->
        </label>
    </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    {{#if book.id}}
    <button type="submit" class="btn btn-default">Validate</button>
    <button type="submit" id="save-changes-btn" class="btn btn-success">Save</button>
    {{else}}
    <button type="submit" id="add-book-btn" class="btn btn-success">Add</button>
    {{/if}}
    <button id="cancel-btn-link" type="button" class="btn btn-link">Cancel</button>
    </div>
</div>
</form>
